<component name="ArtifactManager">
  <artifact type="war" name="springMVC:war">
    <output-path>$PROJECT_DIR$/springmvc/target</output-path>
    <root id="archive" name="microservicecloud.war">
      <element id="artifact" artifact-name="springMVC:war exploded" />
    </root>
  </artifact>
</component>